[2019-07-13 03:43] XiaLeon commented on #180
I suppose this is related to this log:
07-12 15:35:58.724 285 285 E DisplayDevice: eglSwapBuffers(0x1, 0xb17e3780) failed with 0x0000300d.

And I didn't see any logs like "PID:XXX" output by minicap.

[2019-07-15 04:54] ACBNair commented on #180
@XiaLeon  Thanks for the response. We did a factory reset on the device and the log entries changed. Its posted there.

[2019-07-16 07:09] XiaLeon commented on #180
@ACBNair  Well in that case I suggest you to add some logs in minicap source code and check the result. I hope you'll work it out yourself.

[2019-07-16 07:14] XiaLeon commented on #164
@thinkcy Please upload some logs here

[2019-07-17 17:01] git-Ygx opened #181 "minicap says: "CANNOT LINK EXECUTABLE "/data/local/tmp/minicap": library "libsurfaceflinger_client.so" not found""
**What is the issue or idea you have?**

**Have you tried STF?**

when i run minicap in Redmi S2, the minicap has wrong : "CANNOT LINK EXECUTABLE "/data/local/tmp/minicap": library "libsurfaceflinger_client.so" not found"
is there a way to solve it ?
thank you !

[2019-07-18 03:28] fightingAries opened #182 "minicap aborted"
**What is the issue or idea you have?**

**Have you tried STF?**

Hello,
       when i run minicap in MIX 3, the minicap aborted, the output is :
perseus:/ # LD_LIBRARY_PATH=/data/local/tmp /data/local/tmp/minicap -P 1440x2560@1440x2560/0 -t
PID: 27406
INFO: Using projection 1440x2560@1440x2560/0
INFO: (external/MY_minicap/src/minicap_28.cpp:241) Creating SurfaceComposerClient
INFO: (external/MY_m

[2019-07-19 13:09] pcrepieux commented on #105
In case, you find it fulfills this need, I created #183

[2019-07-20 15:04] yinpc commented on #178
Huawei P20 is the same.
@XiaLeon
Has this issue been resolved?

[2019-07-22 02:18] superbigdog opened #184 "minicap start failed"
I used 'kill pid' command to kill two processes.
`shell        20355 20135 0 10:00:57 pts/0 00:00:00 sh -c LD_LIBRARY_PATH=/data/local/tmp /data/local/tmp/minicap -P 1080x2244@360x748/0
shell        20357 20355 0 10:00:57 pts/0 00:00:00 minicap -P 1080x2244@360x748/0`
and used "adb forward --remove-all" command to remove the tcp:minicap.
then,the minicap start failed when i start it again.
There i

[2019-07-22 03:24] #184 closed

[2019-07-22 04:33] ACBNair commented on #180
One more update here. Previously we were using the following code :

`await this.adb.createClient().shell("device udid", "LD_LIBRARY_PATH=/data/local/tmp /data/local/tmp/minicap -P 768x1024@720x1280/0")`

This never returns now. We removed the `await ` and we continue to execute, this works fine. Anything specific here?

[2019-07-22 07:14] XiaLeon commented on #178
@yinpc Not yet. I added some logs in the source code of minicap and found that the bytes size returned by socket is also 8787. So I suppose this must have something to do with android. Because I saw that minicap called android API.
What's your detailed phenomenon ?

[2019-07-26 16:30] simontb opened #185 "Video content not shown on Android TV"
**What is the issue or idea you have?**
The secure virtual display works on my smartphone (e.g. I can see the streams from Netflix), but on my TV the content is black. The following content is black in the minicap stream:
- TV signal (DVB-C)
- Netflix, YouTube
- HDMI (tried several sources: set-top box, games console, laptop)

What I can see:
- TV Guide
- Launcher
- Regular app content (like image

[2019-07-26 16:31] simontb commented on #185
I did some investigations and my guess would be that it's related to Widevine. The TV has L1, my smartphone just L3.

[2019-07-30 07:53] luxuecom commented on #148
Google the problem and fix it.
In the jni/Application.mk file,  just add/modify the following:
APP_PLATFORM := android-21
APP_STL := c++_static

[2019-08-05 02:33] XiaLeon commented on #181
I just checked the source code of minicap:
`ifeq ($(PLATFORM_SDK_VERSION),$(filter $(PLATFORM_SDK_VERSION),10 9))
LOCAL_SHARED_LIBRARIES += libsurfaceflinger_client
else
LOCAL_SHARED_LIBRARIES += libgui
endif`
So this means the sdk version of your device is 9 or 10 ?  you can check if libsurfaceflinger_client.so exists in the /system/lib/ and /system/lib64

[2019-08-06 08:07] XiaLeon commented on #182
@fightingAries I suppose that the minicap is not compatible with your device

[2019-08-08 06:39] XiaLeon commented on #180
@ACBNair  The keyword "await" means it will wait forever. You didn't set a time out. I guess that's why it never returns

[2019-08-09 14:01] varundtsfi opened #186 "In android Q touch and swipe is not working with Minitouch(libedev)"
i try on android Q，

log：
**Unable to open** device /dev/input/event7 for inspectionopen:

**Permission denied Unable to open device** /dev/input/event6 for inspectionopen: Permission denied

Unable to open device /dev/input/event5 for inspectionopen: Permission denied Unable to open device /dev/input/event1 for inspectionopen: Permission denied

Unable to open device /dev/input/event3 for inspect

[2019-08-10 02:49] XiaLeon commented on #186
@varundtsfi  Are you sure there's no "USB Debugging" option in the "Developer Options" menu ? If there isn't, just click the "Software Version"  7 times and it'll show up.

[2019-08-13 18:29] varundtsfi commented on #186
It's there but there is another option called   "USB debugging (Security settings) like Xiaomi Device having to simulate input events..

Any Suggestion?

[2019-08-15 02:27] XiaLeon commented on #186
@varundtsfi upload a screen shot and I'll take a look

[2019-08-23 13:04] varundtsfi commented on #186
Hi @XiaLeon ,

I have attached the logs for your information but I have debugged the issue and found android 10 beta input drivers are not allowing to read the input files.
**SELinux is blocking minitouch(wrapper on libedev) from accessing them.**

e.g:
**Unable to open device /dev/input/event1 for inspectionopen: Permission denied
Unable to open device /dev/input/event2 for inspectionopen: Permis

[2019-08-23 13:30] #186 closed

[2019-08-23 13:34] varundtsfi commented on #185
But in my case **Mi LED TV 4A PRO 32**  is showing only black screen. Any idea?

[2019-08-27 03:59] theosu opened #187 "Is it possible for my app"
**What is the issue or idea you have?**

**Have you tried STF?**

[2019-08-27 04:00] #187 closed

[2019-08-27 04:52] theosu opened #188 "My App wants to get data from minicap"
**What is the issue or idea you have?**

**Have you tried STF?**

My App has shell permissions;And my app want to collect data that minicap produced;
how can i do that?thanks

[2019-08-27 04:52] sorccu commented on #188
Read the README. Use any language you want.

[2019-08-27 04:52] #188 closed

[2019-08-27 04:58] theosu commented on #188
I have seen the ReadME;
It told me that I hava to use the adb forward command so that I can get data in my PC
But my app is in the same phone that minicap execuated. So i can not use adb forward command;
If there is any other way I can get data from minicap?

[2019-08-27 04:59] sorccu commented on #188
No. Can’t be done due to permissions.

You should look at using the public virtual display APIs instead.

[2019-08-27 05:08] theosu commented on #188
Thanks for the reply; I have the shell permissions because I use adblib:https://github.com/cgutman/AdbLib
My question is : can I connect to minicap simply by socket?

[2019-08-28 18:35] varundtsfi commented on #169
Mostly this is happened with all the LG devices. I have tried 6 LG devices and All having the same issue.
LM-X420
LM-G850
LM-Q720
LG V30 plus and LG-Thinq . Common thing is All having android 9 Version.
INFO: (external/HY_minicap/src/minicaps_28.cpp:241) Creating SurfaceComposerClient
INFO: (external/NY minicap/src/minicap_28.cpp: 244) Performing surfaceComposercitent init check
INFO: (external/NY

[2019-09-02 07:08] HenryWoo1229 opened #189 "displayid=1 does not work"
my device has 2 displays, and device level is 27.

when I try: adb shell LD_LIBRARY_PATH=/data/local/tmp/ data/local/tmp/minicap  -P 2608x720@2608x720/0 &
it worked for display id 0

when I try: adb shell LD_LIBRARY_PATH=/data/local/tmp/ data/local/tmp/minicap -d 1 -P 2608x720@2608x720/0 &
it also show pictures from display id 0

this is some infos for -i arg:
adb shell "LD_LIBRARY_PATH=/data/loca

[2019-09-02 07:10] HenryWoo1229 commented on #189
cpu abi = arm64-v8a

[2019-09-05 02:56] czgczg308 opened #191 "oppo r9 release 22 arm64-v8a not work"
when i command  whether is ok,
LD_LIBRARY_PATH=/data/local/tmp /data/local/tmp/minicap -P 720x1280@720x1280/0 -t

it tell me
WARNING: linker: /data/local/tmp/minicap: unused DT entry: type 0x6ffffffe arg 0
x25c8
WARNING: linker: /data/local/tmp/minicap: unused DT entry: type 0x6fffffff arg 0
x2
Note: device /dev/input/event3 was outscored by /dev/input/event5 (22449 >= 2244
9)

[2019-09-05 07:08] sorccu commented on #191
The last log message is generated by minitouch.

You haven’t said what exactly is not working. The warnings are normal.

[2019-09-05 07:10] czgczg308 commented on #191
i have not get ‘OK’

[2019-09-05 07:14] sorccu commented on #191
I don’t have that device, so there’s very little I can do. Perhaps @thinkhy can offer his opinion.

[2019-09-05 07:18] czgczg308 commented on #191
I will try latter.thank you all the same.

[2019-09-18 09:25] ACBNair commented on #180
Till 8.11.3 the await worked good and the 'soket.On' event fired correctly. After upgrade the await not working. How could I give time out to this method ? Write an explicit wait() ???

[2019-09-23 13:58] sunjunling001 opened #192 "When I use adb screenshot from huawei P20 and push it to MacBook Air, the sreen is damaged and cant be opened"
**What is the issue or idea you have?**

**Have you tried STF?**

When I use adb screenshot from huawei P20 and push it to MacBook Air, the sreen is damaged and cant be opened
But I I use adb screenshot from huawei P20 and push it to MacBook Pro, the sreen is ok

I want to know  how to solve it

[2019-10-07 08:54] histronger commented on #178
@XiaLeon Any progress about the problem of Huawei Android 9 devices?

[2019-10-10 14:05] stoefln opened #193 "Android 10 is not supported"
...but would be great to have. Not much more to say :) Thanks for this awesome project!

[2019-10-11 11:25] XiaLeon commented on #178
@histronger  I didn't have any problems about Huawei Android 9 device

[2019-10-11 21:39] entomber commented on #169
@sorccu do you need to have the devices physically on hand or would remote adb access work?

[2019-10-14 05:14] histronger commented on #178
@XiaLeon I mean Huawei P10 is of Android 9 OS...LOL,so have you solved your problem and how? THX

[2019-10-14 09:06] skier-peng commented on #185
i have same problem as you。 and i tried scrcpy, it works well on android 7.0 but also fail to show video content under android 6.0.

[2019-10-15 07:47] Wanyor commented on #192
我这边测试是好的，是换行符导致问题？

[2019-10-16 16:32] quangola commented on #169
I've observed this issue as well on the following LG devices when Android 9 is either preloaded or installed as an update:

LM-G850
LM-X320
LM-X420
LM-G820

As @varundtsfi observed, this appears to be an LG + Android 9 thing.  My devices also show the vector errors like the one below:

minicap says: "Vector have different types (this=0x7feba9fda0, rhs=0x7feba9fec0)"

[2019-10-18 02:50] XiaLeon commented on #178
@histronger Not yet. The issue still exists.

[2019-10-23 21:26] nickyu42 commented on #181
I got the same error.
In my case the ro.build.version.release property was somehow set to 9 while the sdk version was 28
(executing ```adb shell getprop ro.build.version.release | tr -d '\r'``` resulted in 9)
Resulting in jni/minicap-shared/aosp/libs/**android-9**/armeabi-v7a/minicap.so being pushed instead of what should have been **android-28**. I fixed it by commenting out part of the run scrip

[2019-10-25 14:24] kavithamanivel commented on #154
Iam also facing the similar issue. But unable to fix it. Kindly help me

[2019-10-25 14:48] kavithamanivel opened #194 "MinicapINFO: (jni/minicap/JpgEncoder.cpp:64) Allocating 2766852 bytes for JPG encoder"
Hi,

I tried openstf locally using ONEPLUS 5T. Its working fine. But when i use this Minicap project separately with same device ONEPLUS 5T, iam getting this error "INFO: (jni/minicap/JpgEncoder.cpp:64) Allocating 2766852 bytes for JPG encoder"

[2019-10-28 13:59] quangola commented on #169
@sorccu My team would like to donate a device to help resolve this issue.  We've tried reaching out to contact@openstf.io to get shipping details, but have received no response.

[2019-10-29 16:50] Korop commented on #193
we need the feature too

[2019-10-30 19:47] koral-- commented on #193
There is PR for that: https://github.com/openstf/minicap/pull/190

[2019-11-02 01:04] koral-- commented on #194
`INFO` it does not look like an error. Please post more output.

[2019-11-05 08:45] kavithamanivel commented on #194
True. Got fixed. Thank you

[2019-11-05 12:25] #194 closed

[2019-11-08 07:49] czgczg308 opened #196 "why i get register_atfork when startup minicap"
with 22 release  arm64v8 1080x1920
LD_LIBRARY_PATH=/data/local/tmp /data/local/tmp/minicap -P 1080x1920@1080x1920/0

I get CANNOT LINK EXECUTABLE:cannot locate symbol __register_atfork referenced by "/data/local/tmp/minicap"

[2019-11-08 09:56] xiaomengheiheihei commented on #191
hi Has your problem been solved？

[2019-11-09 08:23] kavithamanivel opened #197 "Multiple devices in Minicap"
How to connect multiple devices using Minicap? It shows two or more emulator/devices error. Kindly help me to fix this. Note: Both the devices are android only

[2019-11-12 02:39] czgczg308 commented on #191
no

[2019-11-14 05:08] dtboy1995 opened #198 "how to run in background?"
Thanks for the great project :+1:
How does minicap work as a service with the launch of the Android system?

[2019-11-14 08:56] thinkhy commented on #191
@thinkhy @czgczg308 ok, I will follow this issue

[2019-11-14 08:58] czgczg308 commented on #191
thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "thinkhy"<notifications@github.com&gt;;
发送时间: 2019年11月14日(星期四) 下午4:56
收件人: "openstf/minicap"<minicap@noreply.github.com&gt;;
抄送: "路人"<308253767@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [openstf/minicap] oppo r9 release 22 arm64-v8a not work (#191)

@thinkhy @czgczg308 ok, I will follow this issue

—
You are r

[2019-11-19 04:52] jupe opened #199 "CI pipeline with builds as artifacts"
**What is the issue or idea you have?**

CI pipeline would be very useful from testing point of view. Eg. no need to spend time for setting up dev environment for testing existing PR, like #190... any chance to get it in place?

[2019-11-21 23:45] roj4s commented on #96
Async approach:

[code]

[2019-11-22 03:50] tonynii commented on #189
do we have plan to fixed this issue

[2019-11-23 02:26] koral-- commented on #198
Closing because question looks like a spam.

[2019-11-23 02:26] #198 closed

[2019-11-24 07:18] tianzry commented on #182
Same as me. I use XiaoMi 6 (Mi6, sagit), it can't work.

LD_LIBRARY_PATH=/data/local/tmp /data/local/tmp/minicap -P 1080x1920@1080x1920/0 -t                   <
PID: 28424
INFO: Using projection 1080x1920@1080x1920/0
INFO: (external/MY_minicap/src/minicap_28.cpp:241) Creating SurfaceComposerClient
INFO: (external/MY_minicap/src/minicap_28.cpp:244) Performing SurfaceComposerClient init check
INFO:

[2019-11-26 01:54] wliruohan opened #200 "how to get minicap.so for android-29"
**What is the issue or idea you have?**
HI,
I am trying to use minicap for my platform with the following parameters:
D:\adb\adb>adb shell getprop ro.product.cpu.abi
armeabi-v7a

D:\adb\adb>adb shell getprop ro.build.version.sdk
29

I found the minicap for the armeabi-v7a, but not found minicap.so for sdk29. Do the minicap apply to the android 29 ,  which maybe we called android Q.

Looking forawa

[2019-11-26 15:17] varunkumarct commented on #169
Hi @quangola  Do you have any update on this issue

[2019-11-30 13:17] koral-- commented on #200
Here is a PR for API 29 support: https://github.com/openstf/minicap/pull/190

[2019-11-30 13:17] #200 closed

[2019-12-09 07:25] man4567890 commented on #169
Hi @sorccu
Can I donate a device or pay for dev costs to get this sorted, please send me a PM so I can get the ball rolling
regards

[2019-12-09 13:37] quangola commented on #169
Nope, haven't heard a thing.  We've got a device to donate, but haven't got word back on where to send it.

[2019-12-20 10:48] ACBNair commented on #180
Any update? We switched back to 8.11.3 and its working.

[2020-01-08 08:41] pcrepieux commented on #169
@varundtsfi
I managed to get a G6 running Android 9 and can now reproduce this issue. Will try to identify the root cause.

[2020-01-17 06:52] varundtsfi commented on #169
Hi @pcrepieux
Sorry for the delay. I don't have **LG G6** right now but I will buy this asap. **Right Now I have LG G7 Thinq running on Android 9**.
Model Number:  LMG710EMW
![LG G7 thinq](https://user-images.githubusercontent.com/16011730/72590461-bc0f9d80-3923-11ea-9a42-0ac92303afed.jpeg)

And Getting the below error.
**Vector<> have different types (this=0x7fc7d7f700, rhs=0x7fc7d7f820)**

[2020-01-17 07:01] pcrepieux commented on #169
@varundtsfi
Maybe you could give a try to the approach I have experimented with my G6 on your G7. Will post the lib if it can help you. My main concern is that I don't know how to integrate this workaround smoothly.

[2020-01-20 07:32] varundtsfi commented on #169
Hi @pcrepieux
Please share the lib. I will try on my G7 device and share the results with you

[2020-01-20 09:16] pcrepieux commented on #169
Hi @varundtsfi
Here is the [minicap.so](https://github.com/Orange-OpenSource/minicap/releases/download/v2.3.1/minicap-libgui.so) I successfully tested on my G6 (API level 28). To overcome the different Vector types issue, the AOSP libgui (Apache v2) has been statically compiled and merged in minicap.so (that's why it is much bigger). To test it, you will have to replace prebuilt/arm64-v8a/lib/andr

[2020-01-20 14:36] quangola commented on #169
@varundtsfi  and @pcrepieux:

I tested this new minicap on two versions of the G8 ThinQ (LM-G820 and LM-G850).  So far, seems to work great.  I didn't have any success on a LM-X320 or LM-X420; but it looks like these are arm-v7 so they don't appear to use the new library.

[2020-01-22 07:35] chenchen5000 commented on #169
@pcrepieux could you please share the minicap.so (arm64-v8a) for android 10?

[2020-01-24 07:29] varundtsfi commented on #169
Hi @pcrepieux  I will test today only and Let you know and thanks for the help.

[2020-01-24 07:29] varundtsfi commented on #169
Hi @chenchen5000  Please take the binaries from here.
https://github.com/varundtsfi/MinicapBinaries

[2020-01-24 08:21] varundtsfi commented on #169
Hi @pcrepieux
This **minicap-libgui.so** file is working for **LG G7 Thinq LM-G710** . It's my personal Device.

![LG G7 Thinq](https://user-images.githubusercontent.com/16011730/73053805-c0e9c980-3eae-11ea-8ba1-3964dc84e232.png)

I have one doubt the same library is for LG but for **Xiaomi Redmi 7 Note Pro  **
[ro.product.vendor.model]: [Redmi Note 7 Pro] screen is coming black. Might be some min

[2020-01-31 03:46] chenchen5000 commented on #169
@varundtsfi sorry for the mistake, i meant the new minicap.so with libgui.a (minicap-libgui.so) for android 10. I want to test on the device: Redmi K20 Pro(MIUI 11.0.2), Android 10 because minicap crashes with the same error as LG devices have.
It's very appreciated if you can provide that library.

[2020-01-31 13:19] varundtsfi commented on #169
Hi @chenchen5000

**Xiaomi MIUI 11** having some issue but LG got fixed. I have Xiaomi Redmi Note 7 Pro with android 9 having MIUI 11.0.6.0 in which its working but screen capture as black.
But I don't have androdi 10(Xiaomi) devices. If you tried any device having MIUI 11 you will get the same error.

Have you tried android 10 binaries in your device? is yes what was the output?

[2020-02-03 03:25] chenchen5000 commented on #169
@varundtsfi Yes, I ran minicap on Redmi K20 Pro(android 10, MIUI 11.0.2), minicap crashes with the error:

Vector<> have different types (this=0x......, rhs=0x......)
Aborted

The same minicap can run on other devices(e.g. huawei device) with android 10.

[2020-02-05 07:26] Ethan-2013 commented on #169
Hi @pcrepieux

Hi @pcrepieux

I have tried on LG device working smoothly but on G8 its not working.
You have mentioned that **To Overcome the different vector types issue,  AOSP libgui has been statically compiled and merged in minicap.so.**

Can you please tell us what changes you have done and in which file of A0SP so that we can also try for other architectures(armeabi-v7a)

[2020-02-05 18:00] koral-- commented on #193
PR was merged and changes are available on current openstf/stf HEAD.

[2020-02-05 18:00] #193 closed

[2020-02-05 21:29] pcrepieux commented on #169
@Ethan-2013
Sure, will post instruction shortly (didn't find the time to do it earlier...).
That's basically adding a cc_library_static block in libgui's Android.bp file and a few change in minicap-shared Makefile. More or less... stay tuned.
Sorry for the delay.

[2020-02-10 07:58] varundtsfi commented on #169
**Build issue resolved that was my mistake.**

 Now I have tried on Xiaomi Note 7 pro Android version 9 and MIUI version 11.

Actually the problem is not with android version it's with MIUI version.
**Suppose we have Xiaomi device in Android 9 or 10 version but MIUI version is 10 then devices working fine but if you update their MIUI version then vector mismatch problem will occur.**

I have teste

[2020-02-11 09:23] man4567890 commented on #169
Hi @pcrepieux , I updated stf with the newest git release from https://github.com/Orange-OpenSource/stf, I think the minicap issue is solved, but I'm getting minitouch errors, see below please
`2020-02-11T09:03:49.419Z FTL/device:plugins:screen:stream 14563 [LMX420ZD6PNB9P9PHI] Frame producer had an error FailError: Failure: 'closed'
    at /usr/lib/node_modules/stf/node_modules/adbkit/lib/adb/par

[2020-02-11 10:51] man4567890 commented on #169
I think the main problem could be the 32 bit and 64 bit issue as the minicap from

Here is the minicap.so I successfully tested on my G6 (API level 28). To overcome the different Vector types issue, the AOSP libgui (Apache v2) has been statically compiled and merged in minicap.so (that's why it is much bigger). To test it, you will have to replace prebuilt/arm64-v8a/lib/android-28/minicap.so with

[2020-02-11 13:57] varundtsfi commented on #169
Hi @man4567890
I don't have but If you can wait for one day then I can give it to you for 32 bit. One more thing I don't have a device for **abi: 'armeabi-v7a',** configuration so I can't test.

[2020-02-11 14:00] man4567890 commented on #169
Please will be much appreciated

On Tue, 11 Feb 2020, 15:57 Varun, <notifications@github.com> wrote:

[2020-02-11 20:09] varundtsfi commented on #169
Hi @man4567890

I have build the android AOSP for armeabi-v7a. There are two minicap.so. As I already told you I don't have device to test physically. You have to test and share the results. Hope so those will work.
Take those from here
https://github.com/varundtsfi/VectorIssueLGXiaomi/tree/master/VectorIssue_libs/android-28/armeabi-v7a

[2020-02-12 05:27] man4567890 commented on #169
Hi @varundtsfi , THANKS so much, the minicap_1.so works fine for me, what is the difference between _1 and _2, must I try _2 as well?

[2020-02-12 05:36] varundtsfi commented on #169
Wow. Enjoy.

[2020-02-12 05:48] man4567890 commented on #169
For a LG on SDK 29, I still cannot access, fails with this below,

`2020-02-12T05:45:06.647Z INF/device:plugins:group 18277 [LMG820UMb681bd28] Subscribing to group channel "27wYow6vQ7KHx53MvmzFQw=="

2020-02-12T05:45:07.472Z INF/device:plugins:screen:stream 18277 [LMG820UMb681bd28] Setting frame producer projection to 843x843

2020-02-12T05:45:07.472Z INF/device:plugins:screen:stream 18277 [LMG820

[2020-02-12 06:00] varundtsfi commented on #169
Actually you are getting the same error which you were getting in Android-SDK 28. Might be the solution for Android 9 will work for Android-10. I need to build AOSP for android 10 but again I don't have physical device to test. This will take time because My system is not so heavy and its normal system having 8 GB Ram. AOSP Build take around 8 to 9 hrs. You have to wait for @man4567890

[2020-02-12 06:32] man4567890 commented on #169
Thanks so much @varundtsfi , I can test for you, I will wait

[2020-02-12 20:37] Emperorlou opened #205 "Outdated readme? It says "Minicap works without root if started via ADB on SDK 28 (Android 9.0) and lower." but I saw some commits to provide support for Android 10"
**What is the issue or idea you have?**
The documentation states the following:
Minicap works without root if started via ADB on SDK 28 (Android 9.0) and lower. Which perhaps now implies that Android 10 requires root. Is this true? If not then we should make this clearer.

**Have you tried STF?**

[2020-02-14 07:01] man4567890 commented on #169
Hi @varundtsfi , did you manage to build the Android 10 LG build, please?

[2020-02-15 04:26] Olivia26-2020 commented on #169
@man4567890 Actually no because I am working on Xiaomi Device issue. That is some how people are stuck in.
Once done will inform you.

[2020-02-15 12:08] man4567890 commented on #169
Thanks so much!

On Sat, 15 Feb 2020, 06:26 Olivia26-2020, <notifications@github.com> wrote:

[2020-02-15 13:06] varundtsfi commented on #169
@man4567890 Might be monday morning I can.

[2020-02-17 15:05] man4567890 commented on #169
Thanks so much

On Sat, 15 Feb 2020, 15:06 Varun, <notifications@github.com> wrote:

[2020-02-20 07:41] albertiniLiu commented on #169
@varundtsfi
I meet the same issue on Mi10 phone.
Could you please compile a arm64 version for me?
Thanks in advance.

I try to build myself as pcrepieux told method. But meet many build errors.

[2020-02-20 17:25] varundtsfi commented on #169
Hi @albertiniLiu  and @man4567890
My System got crashed today only I setup the system again. I am downloading the AOSP of 9 and 10. Once its done. I will try to build it. Might be on Sunday I can deliver the required binaries.

@albertiniLiu  What is Mi10 Please provide the details like MIUI and Android version. Because its coming in MIUI 11 version devices only.

[2020-02-21 02:24] albertiniLiu commented on #169
hi @varundtsfi

My Mi10 phone information hope it's enouch for your:
SW information as below:
[ro.build.version.incremental]: [V11.0.4.0.QJACNXM]
[ro.build.version.min_supported_target_sdk]: [23]
[ro.build.version.preview_sdk]: [0]
[ro.build.version.preview_sdk_fingerprint]: [REL]
[ro.build.version.release]: [10]
[ro.build.version.sdk]: [29]
[ro.build.version.security_patch]: [2020-01-01]

all inf

[2020-02-21 06:10] varundtsfi commented on #169
Hi @albertiniLiu

Please send the required information as it unnecessary increasing the length.
Only below information was fine.
**[ro.product.build.version.sdk]: [29]
[ro.product.cpu.abi]: [arm64-v8a]
[ro.build.version.incremental]: [V11.0.4.0.QJACNXM]** . If  you read my requirement, it was only MIUI and Android Version of your device. If possible edit you device details so that I became short a

[2020-02-22 03:20] albertiniLiu commented on #169
@varundtsfi

Already edit my message as you requested.

[2020-02-27 12:35] man4567890 commented on #169
Any update on this please?

On Sat, 22 Feb 2020, 05:20 albertiniLiu, <notifications@github.com> wrote:

[2020-03-02 12:53] islem19 commented on #170
@amitpy The module is actually the name of the module you're building (in your case minicap) , if you take a look at the script [aosp.sh](https://github.com/openstf/docker-aosp/blob/master/jdk8/aosp.sh) from line 106 - 121 , you can see that the target is indeed your device target name "aosp_arm64-eng" and for the module "minicap" .
- then aosp.sh will build your module with :  make "$module" -j $

[2020-03-03 14:11] man4567890 commented on #169
@varundtsfi do you have an ETA on this? Please, I'm in urgent need

On Thu, 27 Feb 2020, 14:35 Wynand Jansen Van Vuuren, <
man4@manmobilemachine.com> wrote:

[2020-03-04 14:43] varundtsfi commented on #169
I have tried few fixes on android 10 for LG and Xiaomi devices but did not get any success.. so I don't have any ETA just HIT and Trial..

[2020-03-05 03:08] man4567890 commented on #169
Thanks so much for the update

On Wed, 04 Mar 2020, 16:43 Varun, <notifications@github.com> wrote:

[2020-03-13 07:05] man4567890 commented on #169
Seems there is a problem on the LG - LM-G820 with Android 10 as well, arm64-v8a, but it seems that it is minitouch that is complaining

2020-03-13T07:00:49.855Z INF/device:plugins:group 20905 [LMG820UMb681bd28] Subscribing to group channel "27wYow6vQ7KHx53MvmzFQw=="
2020-03-13T07:00:50.693Z INF/device:plugins:screen:stream 20905 [LMG820UMb681bd28] Setting frame producer projection to 843x843
2020-

[2020-03-13 11:39] ganzf commented on #181
Hello, any update on this bug ?

Should we modify the run script manually ?

[2020-03-17 21:12] miw-nik opened #206 "LG-V350 fails to screenshare but only on Android 9"
I get this from logcat when attempting to launch the screen sharing on this device, but only on Android 9. I tested Android 8 and it works there.

This is a `arm64-v8a` device.

I tried using the new library that fixes the `Vector<>` error as seen in: https://github.com/openstf/minicap/issues/169 but it doesn't seem to help in this case.

`
INFO: Using projection 1440x2880@360x720/0
INFO: (externa

[2020-03-27 06:23] Mr-Czt opened #207 "I don't know why, minicap cannot start;"
**What is the issue or idea you have?**
after adb push minicap & minicap.so. I tried to start minicap, but not success, and not have info back;

**Have you tried STF?**

minicap$ adb shell LD_LIBRARY_PATH=/data/local/tmp /data/local/tmp/minicap -P 1920x1080@1920x1080/0 -t
PID: 3925
INFO: Using projection 1920x1080@1920x1080/0
minicap$

[2020-03-28 13:17] koral-- commented on #207
What is the device model and Android version?

[2020-03-30 12:43] Mr-Czt commented on #207
Thank you for reply:
     My platform is TV, Android 9,AOSP

[2020-03-30 12:45] Mr-Czt commented on #207
I have try install STFService.apk by adb install, Looks same..:)

[2020-03-31 07:49] wull8 opened #208 "How to build minicap.so for android 11 ?"
**Anyone started playing with android 11?**

[2020-04-01 13:07] varunkumarct commented on #169
Hi @man4567890

You have two issue here:-

2020-03-13T07:00:50.819Z INF/device:plugins:screen:stream 20905 [LMG820UMb681bd28] minicap says: **"Vector<> have different types (this=0x7ff81d0190, rhs=0x7ff81d02e0)"**

2020-03-13T07:00:56.736Z INF/device:plugins:touch 27538 [LMG820UMb681bd28] minitouch says: **"Unable to open device /dev/input/event7 for inspectionopen: Permission denied"**

In androi

[2020-04-01 13:11] varundtsfi commented on #169
Hi @man4567890

You have two issue here:-

2020-03-13T07:00:50.819Z INF/device:plugins:screen:stream 20905 [LMG820UMb681bd28] minicap says: **"Vector<> have different types (this=0x7ff81d0190, rhs=0x7ff81d02e0)"**

2020-03-13T07:00:56.736Z INF/device:plugins:touch 27538 [LMG820UMb681bd28] minitouch says: **"Unable to open device /dev/input/event7 for inspectionopen: Permission denied"**

In androi

[2020-04-02 15:41] varundtsfi commented on #208
Hi @wull8
I am trying to build android-r-preview-2 but initially I am getting below errors.
But once these errors fixed I can come up with some data.If you have any idea why above errors are there then your suggestions are welcome.

error: external/linux-kselftest/Android.bp:53:13: unrecognized property "arch.mips"
error: external/linux-kselftest/Android.bp:56:15: unrecognized property "arch.mips6

[2020-04-07 05:19] nhunh585 opened #209 "The screenshot cannot open with device AndroidTV"
I am using Philips TV (Android 9). When I screenshot with the command and pull to my mac:

`adb -s DC4D547A93 shell LD_LIBRARY_PATH=/data/local/tmp/ /data/local/tmp/minicap -P 1920x1080@1920x1080/0 -s ">/data/local/tmp/minicap.jpg"`

The screenshot cannot open:
![Screen Shot 2020-04-07 at 12 17 33](https://user-images.githubusercontent.com/25640067/78632700-e4c38580-78c9-11ea-80c0-89c49733d34d.png

[2020-04-07 13:37] varundtsfi commented on #208
I have tried by taking the latest repo

repo init -u https://android.googlesource.com/platform/manifest -b android-r-preview-2
and getting below error.
**[100% 268/268] writing build rules ...
FAILED:
build/make/core/base_rules.mk:491: error: overriding commands for target `out/target/product/generic_arm64/system/bin/chattr', previously defined at build/make/core/base_rules.mk:467
18:28:48 ckati f

[2020-04-07 23:37] Greansilver opened #210 "How to terminate script and stream Gray Imgae"
Hello,

I wanted to ask how to properly terminate the Script, the only "working" way i found was Rebooting the System, is there a better way?
And is there a parameter to stream not RGB Data but Gray Data to increase Speed while containing Image Quality?

[2020-04-10 23:38] miw-nik commented on #206
@pcrepieux Does this issue look familiar to you at all? I thought the G8 fix you put together was going to help here but it doesn't seem to (G8 works fine for me, but V350 doesn't).

[2020-04-14 21:09] pcrepieux commented on #206
@miw-nik right now I have no idea but could you please provide a bit more details on how you are using minicap and/or minitouch ? I wonder where the SIGTERM comes from.

[2020-04-18 02:12] HEZI0427 commented on #169
I also do this(modify Android 9.0 gui lib Android.bp )，but get error bleow：
![image](https://user-images.githubusercontent.com/7960376/79625652-f6741b00-815c-11ea-9029-d884d289241c.png)

but libgui_s.a has generated,

![image](https://user-images.githubusercontent.com/7960376/79625657-01c74680-815d-11ea-89ca-26b0acc50967.png)

can you help me ~~~

[2020-04-24 00:00] Emperorlou commented on #206
@pcrepieux Ok so I actually went ahead and setup OpenSTF on a fresh Ubuntu VM. I managed to get 3 other phones to work properly, but when I try to plug in the V35 it just never finishes the setup process. I've attached the stf logs. Let me know if there are any other logs I can provide you with (with specific instructions for how to retrieve them too, sorry i'm new to linux).

`2020-04-23T23:43:50

[2020-04-24 16:01] huhuang03 commented on #169
@varundtsfi Have you solved the xiaomi api28 black screen issue? I have the same issue, and I will try to follow the build by asop step..

[2020-04-29 18:39] varundtsfi commented on #169
It's still there and I haven't spent much time on it. I don't have device the device

[2020-05-06 22:58] entomber commented on #208
@varundtsfi I got it to build on android-r-preview-3 by commenting out the following in external/linux-kselftest/Android.bp and external/seccomp-tests/Android.bp:

[code]

Doesn't work with STF though.

[2020-05-09 06:57] superbigdog opened #211 "How can i change the rotation parameter without restarting the minicap?"
RT

[2020-05-12 12:09] MRA11145 commented on #45
INFO: (jni/minicap/JpgEncoder.cpp:64) Allocating 3285252 bytes for JPG encoder

it tried both the way to run but by both the way I got stuck at this point.(way here is easy way and hard way)

there is no progress after  this line.
INFO: (jni/minicap/JpgEncoder.cpp:64) Allocating 3285252 bytes for JPG encoder

[2020-05-13 15:50] superbigdog commented on #211
I resolve this problem by creating a transforing server for receiving the data stream from 1717 port and send this data package to 9002 port.when i want to change the rotation, shutdown the connection with 1717 port and restart the minicap server.this is not a good practice.

I also find that minicap server must be monitor  with a living-thread,if i use
`nohup ./minicap -P`
 to start it,the transf

[2020-05-13 15:50] #211 closed

[2020-05-18 10:32] yftyxa opened #212 "minicap can't start normally"
**C:\NDK\minicap>adb shell getprop ro.product.cpu.abi
arm64-v8a
C:\NDK\minicap>adb shell getprop ro.build.version.sdk
25**

after ndk-build, i push minicap and minicap.so to /data/local/tmp, also, chmod 777 to them, however, when i lunch minicap, only two info displayed:
**PID: 24461
INFO: Using projection 720x1280@720x1280/0**

and i didn't catch any log, pls help fix this problem,thx

[2020-05-18 16:24] koral-- commented on #212
What is the device model?

[2020-05-19 01:58] yftyxa commented on #212
### C:\Users\win10>adb shell getprop ro.product.model
cloudphone
it is a cloud service，i successed two days ago，but now it doesn't work

[2020-05-21 17:49] varundtsfi commented on #208
Hi @entomber
Due to some other stuffs I was busy but today only I have downloaded the **android-r-preview-4**. I will build the OS and share the results.

[2020-05-22 07:50] EdwardCheck commented on #212
Have you tried Xiaomi 10 ( rom version MIUI 11) , SDK = 29  ?

adb shell LD_LIBRARY_PATH=/data/local/tmp /data/local/tmp/minicap -P 1440x3120@1440x3120/0

**Vector<> have different types (this=0x7fdf71d010, rhs=0x7fdf71d130)
Aborted**

I also tried Huawei, the sdk version is also 29,it can work OK

[2020-05-22 12:46] varundtsfi commented on #212
- Please refer two already running threads #169 and #190

[2020-05-22 15:04] LSS-PravinTirthani opened #213 "Password keypad screen doesn't comes."
Minicap service is not able to response on password keypad screen.

[2020-05-22 16:16] koral-- commented on #213
What is the device model?

[2020-05-23 04:07] LSS-PravinTirthani commented on #213
1. SAMSUNG  Galaxy J5 Prime (Android version :8.0.0)
2. SAMSUNG Galaxy M30 (Android version :9.0.0)

[2020-05-25 03:32] yftyxa commented on #212
i have fixed this problem，thx all

[2020-05-25 03:32] #212 closed

[2020-05-26 04:16] caixiyan commented on #212
@yftyxa Can you share the compiled package, thank you.My MIUI11 also has this problem.The package I use in #169 and #190, minicap can start, but the screen is black. So I want to try the package you compiled.

[2020-05-26 14:38] varundtsfi commented on #208
@entomber I have build android-r-preview-4 successfully but when I push mimicap in external directory and again build but not  generated minicap.so file. Do you have any idea...

[2020-05-29 03:46] nhunh585 opened #214 "Minicap get stuck at "Publishing virtual display""
When i ran command in the image, minicap get stuck. Please help.

![image](https://user-images.githubusercontent.com/25640067/83219054-8adc8f00-a199-11ea-9c23-73e12ec35ad5.png)

[2020-05-29 09:00] nhunh585 opened #215 "ndk-build does not affect new code (modified "minicap-shared")"
I modified minicap-shared to change the log output then run ndk-build, then I use new minicap, minicap.so but the log still same old version.

[2020-05-30 21:33] varundtsfi commented on #215
You have to build the cpp file with android os then you can change the logs. With ndk -build it's taking only already builded minicap.so file which is in aosp directory.

[2020-05-31 14:12] koral-- commented on #214
What is the device model and Android version?

[2020-06-01 02:09] nhunh585 commented on #214
@koral-- It is Philip TV. It running Android 9, SDK 28, ABI  armeabi-v7a

[2020-06-01 02:12] nhunh585 commented on #215
Hi @varundtsfi Is what you say in this page ?https://github.com/openstf/minicap/blob/master/jni/minicap-shared/README.md

[2020-06-03 09:35] varundtsfi commented on #215
Yes correct.

[2020-06-04 09:51] nhunh585 commented on #215
@varundtsfi Thank you

[2020-06-04 11:32] koral-- commented on #215
It seems that there is an answer so closing this ticket.

[2020-06-04 17:04] Emperorlou commented on #206
@pcrepieux Just making sure you saw this, thanks!

[2020-06-05 09:51] nhunh585 commented on #215
@varundtsfi
I ran `make` in the folder `minicap/jni/minicap-shared/aosp` and there is an error. Do you know how to fix it ?

![image](https://user-images.githubusercontent.com/25640067/83862856-b688e780-a74c-11ea-936c-91826d813660.png)

[2020-06-05 09:51] nhunh585 commented on #215
Here is full log of `make` command

`make -j 2
mkdir -p libs/android-28/x86_64
docker run --rm \
                -a stdout -a stderr \
                -v /Volumes/android/android-9.0.0_r1:/aosp \
                -v /Users/nhunh/workspace/source/minicap/jni/minicap-shared/aosp/:/app \
                -v /Users/nhunh/workspace/source/minicap/jni/minicap-shared/aosp/libs/android-28/x86_64:/artifacts

[2020-06-09 04:12] nhunh585 commented on #168
Hi @pcrepieux when I ran `make minicap -j2`, there is an error occurs. How to fix it ?

`build/make/core/binary.mk:1487: error: external/mesa3d/Android.mk: minicap-shared: C_INCLUDES must be under the source or output directories: /Volumes/android/android-9.0.0_r1/external/minicap-shared/aosp/include /Volumes/android/android-9.0.0_r1/external/minicap-shared.`

[2020-06-09 10:16] nhunh585 commented on #168
Hi @pcrepieux, I face this error after build with these instruction

$ . build/envsetup.sh
$ lunch aosp_arm64-eng
$ make minicap -j <your_number_of_cpu>
from aosp root directory (that's basically what aosp.sh build command does)

![image](https://user-images.githubusercontent.com/25640067/84135936-c5d1a300-aa74-11ea-86fc-7860f9b00e9a.png)

[2020-06-10 08:43] nhunh585 commented on #214
@koral--
I added more log in the minicap_28.cpp file and I saw it stuck in the `t.apply();` line on the method `createVirtualDisplay`

![image](https://user-images.githubusercontent.com/25640067/84246642-19a1c200-ab31-11ea-8f92-d60610078ad6.png)

[2020-06-10 09:38] nhunh585 commented on #168
I figured out, we have to copy `aosp` folder into external folder of android source code (instead of `minicap-shared` folder)

![image](https://user-images.githubusercontent.com/25640067/84252477-d3506100-ab38-11ea-8ca3-874d70b9cba0.png)

[2020-06-11 08:32] wull8 commented on #208
@varundtsfi @pcrepieux

Hello all,

Thanks for your information !

I managed to build minicap.so with "android-r-preview-4". But when I run it on mobile device, I got below error:

**Check error CANNOT LINK EXECUTABLE "/data/local/tmp/minicap": cannot locate symbol "_ZN7android21SurfaceComposerClient17getDisplayConfigsERKNS_2spINS_7IBinderEEEPNS_6VectorINS_11DisplayInfoEEE"**

Any idea about this

[2020-06-16 01:53] #215 closed

[2020-06-16 05:07] varundtsfi commented on #208
Hi @entomber  and @wull8

I am also getting the same error
**CANNOT LINK EXECUTABLE "/data/local/tmp/minicap": cannot locate symbol "_ZN7android21SurfaceComposerClient17getDisplayConfigsERKNS_2spINS_7IBinderEEEPNS_6VectorINS_11DisplayInfoEEE" referenced by "/data/local/tmp/minicap.so"...**

But I have verified  **SurfaceComposerClient** and **ISurfaceComposerClient**  files in android 10 and 11 bo

[2020-06-16 21:05] fablexis opened #216 "Screen interaction does not work"
I was running the example that is into the `example` folder, but I cannot interact with the mobile screen that the browser shows... I'm not sure if this is the normal behaviour when using `mincap`, I've used `STF` and there it is possible to interact with the device screen using the browser.

Can anyone clarify this to me? Thanks in advance

[2020-06-17 15:57] varundtsfi commented on #216
That is just a screen display there on browser so three is no screen interaction handling over there. I think you are running it though  app.js . I hope this will helpful. For batter understanding you can read that app.js file which is responsible only to show the screen on browser.

[2020-06-17 21:50] fablexis commented on #148
@luxuecom when doing what you said I got this when making `ndk-build`:

`make: *** No rule to make target '/Users/fpernia/Documents/minicap/jni/minicap-shared/mock/Minicap.cpp', needed by 'obj/local/armeabi-v7a/objs/minicap-shared/mock/Minicap.o'.  Stop.`

So it does not work...

[2020-06-17 22:47] fablexis commented on #216
@varundtsfi I got you...

I was taking a look at [minitouch](https://github.com/openstf/minitouch) but it seems that's for capturing events when touching the screen. So I was wondering if there is a component that I can isolate in the same way we can see in the `example` folder, but with the touching feature enabled

[2020-06-22 09:19] pcrepieux commented on #208
That's a recurring issue. The AOSP source code is currently not fully sync'ed with preview/beta builds. There is only 2 options I can think of with the current codebase:
- wait ...
- figure out the API change by inspecting the libgui.so and dynamically load and call the new method.

I'll try to look at this issue in the coming days. If I find a way to make it work, I'll keep you posted.

[2020-06-22 09:45] varundtsfi commented on #208
@pcrepieux Which method is changed or newly introduce how do we know? I mean which file we have to compare.

Dynamically load and call the new method this activity we have done I android 10 also.

I am working on second option. Whatever would be the output I will post it here.

[2020-06-22 15:01] fablexis commented on #216
@sorccu can you suggest something in order to enable the screen interaction using "minicap"? Is there a way to enable the touch screen? What can we use/combine in order to do that? Do we have to use "minitouch", if so, how? Thanks

[2020-07-01 13:54] kavithamanivel commented on #216
Facing similar issue. Any help is appreciated. We have to follow any steps to do the screen interaction by clicking the object.

[2020-07-01 14:33] fablexis commented on #216
@kavithamanivel I haven't found a workaround for that.  @varundtsfi do you have any suggestion or idea? Thx

[2020-07-02 10:26] WeiPeiXian commented on #208
@pcrepieux
Hello,
What is the adaptation progress of minicap android R，Is there an estimated time available
thanks

[2020-07-06 13:21] kotini commented on #208
Any update on android 11 support ?

[2020-07-06 14:02] WeiPeiXian commented on #208
i have already build minicap.so for android 11, and it work successfully on xiaomi Device
but i don't know whether it can work normally on other device
here is my code, maybe it will be helpful to build minicap.so for android 11
https://github.com/WeiPeiXian/minicap/blob/master/jni/minicap-shared/aosp/src/minicap_30.app

[2020-07-07 12:06] pcrepieux commented on #208
Will check again shortly if the the current AOSP source code can help. The main blocker is that
`android::SurfaceComposerClient::Transaction::setDisplayProjection(android::sp<android::IBinder> const&, unsigned int, android::Rect const&, android::Rect const&)` changed to
`android::SurfaceComposerClient::Transaction::setDisplayProjection(android::sp<android::IBinder> const&, android::ui::Rotation, a

[2020-07-08 02:31] #152 closed

[2020-07-08 03:47] WeiPeiXian commented on #208
my code is different from aosp, it can be only used to xiaomi device
maybe  the code below can be helpful
`#include <ui/Rotation.h>
`
at line 279
`t.setDisplayProjection(mVirtualDisplay,
      android::ui::toRotation(android::DISPLAY_ORIENTATION_0), layerStackRect, visibleRect);`

in my code , the code of getDisplayinfo method  is different from aosp, so i delete my comment, it just can be used to

[2020-07-08 04:48] pcrepieux commented on #208
@WeiPeiXian
I agree using this fonction would make it work but where did you get this header file ui/Rotation.h  ?
Could you explain how you managed to build minicap-shared ? Maybe I am missing a little something but, while I understand what are the required changes, I couldn't find the required sources to compile it.
Any link, branch name/tag, ...  would be appreciated :-)

[2020-07-08 06:19] WeiPeiXian commented on #208
@pcrepieux
I also can't find Rotation.h at aosp
I use company internal code compilation to build it instead of AOSP
so nothing help can be given to build it on aosp branch
maybe we should wait ... , the beta branch may contains Rotation.h

[2020-07-09 15:30] AndreySkorkin opened #217 "Can I run minicap on device and close "adb shell" process after that on client machine?"
Hi, everyone!

I need to start the minicap on the Nexus 4X device and after that close the process "adb shell" on my client machine.
Nexus 4X connected to my machine via USB.
I do not need the adb process to be visible on the system and the user can delete it.
I can close the minicap on the device through the "adb shell kill".
I try to run the miniсap through a script from the device
[code]
but af

[2020-08-15 13:57] koral-- opened #218 "This repository is no longer maintained"
# This project along with other ones in [OpenSTF](https://github.com/openstf) organisation is provided as is for community, without active development.
# You can check any other forks that may be actively developed and offer new/different features [here](https://github.com/openstf/stf/network).
# Active development has been moved to [DeviceFarmer](https://github.com/DeviceFarmer) organisation.

[2020-08-23 06:02] siva-kranthi commented on #208
@pcrepieux @wull8 @varundtsfi @entomber @WeiPeiXian
Can you please let me know the steps to build the so files for Android 11 without docker as I have access to the full R code from OEM. Didn't understand much from this https://github.com/openstf/minicap/blob/master/jni/minicap-shared/README.md

[2020-08-23 07:37] pcrepieux commented on #208
Here is a comment in an older discussion that will maybe provide you the step you are looking for : https://github.com/openstf/minicap/issues/168#issuecomment-487625372

[2020-08-31 05:30] varundtsfi commented on #208
@WeiPeiXian Is it possible that you can share minicap.so files for Android 11 for Xiaomi Devices. Please share if you don't have any issue.

[2020-09-07 02:33] WeiPeiXian commented on #208
https://github.com/WeiPeiXian/minicap/tree/master/minicap.so
Here is the minicap.so files for Android 11
best wishes

[2020-09-07 17:30] varundtsfi commented on #208
@WeiPeiXian
Thanks for sharing the binaries. I have tested it on Xiaomi Android 11 It's working.

INFO: (packages/apps/SYSOPT/minicap/so/src/minicap_30.cpp:248) Creating SurfaceComposerClient
INFO: (packages/apps/SYSOPT/minicap/so/src/minicap_30.cpp:251) Performing SurfaceComposerClient init check
INFO: (packages/apps/SYSOPT/minicap/so/src/minicap_30.cpp:262) Creating virtual display
INFO: (packag

[2020-09-07 17:56] pavel-kolesnikov commented on #217
@AndreySkorkin
I think something like this will work
[code]
Tested on Win 10.
`/data/local/tmp/minicap` - directory where my `minicap` binary is.
`&>/dev/null` - prevents `nohup` hanging on standart streams, prevented exiting

[2020-09-09 08:03] Maciejszuchta commented on #208
Which minicap file do you use for android 11?
I used the ones I got by default from building minicap and repaced only minicap.so file that you provided but now I get
```CANNOT LINK EXECUTABLE "/data/local/tmp/minicap": cannot locate symbol "_ZN7android21SurfaceComposerClient22getActiveDisplayConfigERKNS_2spINS_7IBinderEEEPNS_13DisplayConfigE" referenced by "/data/local/tmp/minicap.so"...```

[2020-09-10 08:37] PengJunchen commented on #208
@WeiPeiXian

I try to use your forked branch to build the library, but the size of the built library is only 2KB, would you please tell me what kind of things missing?
The manifest I used is android-11.0.0_r3.

[2020-10-08 10:50] stoefln commented on #208
@WeiPeiXian
I am missing the x86 binary. Would you be able to provide it?

[2020-10-15 06:39] PengJunchen commented on #208
It has been provided in official support: https://github.com/DeviceFarmer/minicap

[2020-12-14 12:08] sheshnath1st commented on #197
I am also facing same.

[2020-12-22 13:39] rohit187 opened #219 "Unable to create Minicap object using minicap_create"
I have followed the below steps
1. Taken the header Minicap.hpp from /jni/minicap-shared/aosp/include/Minicap.hpp
2. Taken the minicap.so from /jni/minicap-shared/aosp/libs/android-29/arm64-v8a (running the app in android 10)
3. On launching the app, I tried to create minicap object using minicap_create(0) which returns null

I am stuck here. Please let me know how to create the Minicap object. Is

[2021-02-14 12:03] noloader commented on #196
Sorry about the late comment. This issue is a top hit when searching on the problem...

Also see [Android linker changes for NDK developers | __register_atfork](https://android.googlesource.com/platform/bionic/+/master/android-changes-for-ndk-developers.md#available-in-api-level-23) in the NDK docs.

[2021-04-16 06:00] #99 closed

[2021-04-25 03:14] wuchengyuan commented on #185
i have same problem。 it works well on android 7.1、5.1 but also fail to show video content under android 4.4.2.

[2021-05-16 01:46] pxrgod opened #220 "when this can support Android 11?"

[2021-05-19 04:26] varundtsfi commented on #220
It's already there but Repo got changed
Follow the link.
https://github.com/DeviceFarmer/minicap

[2021-07-05 09:51] yiqingkuang commented on #212
Hello, I encountered the same problem as you, how did you solve it in the end, I look forward to your reply

[2021-07-28 09:34] YongShing opened #221 "When minicap works on a still frame，the display image often gets stuck."
When I tried to integrate mincap to my project,I met a problem that when minicap works on a still frame，the display image often gets stuck. I tried to figure it out.By analyzing the frame data,I found that the frame length figured out from the frame head according to the protocal may be very big and the frames we got later are all singular frames，which results in the image stucking when device wor

[2021-08-10 09:27] milankmr commented on #212
Hello, I am facing the same issue , how did you solve ? can you please share ?

[2022-05-26 09:27] sheshnath1st opened #225 "IQOO Device is stuck in preparing for Android 12"
StfService.apk is runing but device is stuck in preparing

[2022-06-23 01:06] hyeongminju opened #226 "where is minicap.so for android sdk 32?"
i need minicap.so for android sdk 32.
how can i get that file?
plz let me know where is the file(minicap.so)....

[2022-07-22 03:04] YuriTam opened #227 "about commercial"
May I ask whether minicap and minitouch can be used for commercial use, what needs to be indicated or whether there is a fee